// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.is-fixed {
    border-bottom: 1px solid #dfe3e8;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    background-color: #f4f6f8;
}
